<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application>
        <service
            android:name="frb.axeron.adb.AdbPairingService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="shortService"
            tools:ignore="NewApi" />
    </application>
</manifest>