<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <permission
        android:name="com.frb.axmanager.permission.MANAGER"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.frb.axmanager.permission.MANAGER" />

    <application>
        <service
            android:name=".adb.AdbPairingService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="shortService"
            tools:ignore="NewApi" />

        <provider
            android:name=".AxManagerProvider"
            android:authorities="${applicationId}.server"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="false"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />

        <receiver
            android:name=".receiver.BootCompleteReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true"
            android:permission="com.frb.axmanager.permission.MANAGER">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>